.home-card-list{
    max-width: 1440px;
    margin: 160px auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 1224px) {
        grid-template-columns: repeat(3, 1fr);        
    }

    @media (max-width: 960px) {
        grid-template-columns: repeat(2, 1fr);        
    }

    @media (max-width: 680px) {
        grid-template-columns: 1fr;     
    }
}