.detailed-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    .detailed-card-bg img {
        width: 80%;
        height: 80%;
    }

    .detailed-card-title{
        font-size: 5rem;
    }

    .detailed-card-type {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .detailed-card-stat {
        font-size: 1.5rem;
    }

    .detailed-card-button{
        margin-top: 50px;
        padding: 15px 25px;
        font-size: 30px;
        border-radius: 10px;
        background: linear-gradient(rgb(204, 0, 0), rgb(255, 59, 59));
        color: #FFF;
        cursor: pointer;

        &:hover {
            background: linear-gradient(rgb(255, 59, 59), rgb(204, 0, 0));
        }
    }
}