.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(204, 0, 0), rgb(255, 59, 59));
    height: 60px;
    padding: 0 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;

    .logo {
        .nav-link{
            text-decoration: none;
        }
        h1 {
            color: #FFF;
        }
        span {
            color: yellow;
        }
    }

    .nav-menu ul {
        display: flex;
        list-style: none;

        li{
            display: flex;
            align-items: center;
        }

        li .nav-link{
            text-decoration: none;
            color: #FFF;
            margin-right: 15px;

            &:hover{
                color: #000;
            }
        }

        li .show-sidebar {
            display: inline-block;
            padding: 10px;
            color: yellow;
            font-weight: bold;
            cursor: pointer;
            border: 2px solid #000;
            border-radius: 5px;
            margin-left: 15px;
        }
    }
}