.sidebar-container {
    &.show {
        background: linear-gradient(rgb(204, 0, 0), rgb(255, 59, 59));
        display: flex;
        position: fixed;
        top: 60px;
        right: 0;
        bottom: 0;
    }

    &.hide {
        display: none;
    }
    
    .sidebar-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        overflow-y: scroll;
        box-shadow: 2px 5px 15px #000;

        width: 200px;

        .sidebar-button {
            width: 100%;
            border: none;
            background-color: transparent;
            padding: 10px;
            color: #FFF;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background-color: yellow;
                color: #000;
            }
        }
    }
}